extends ./layout.jade

block content
  .container
    .jumbotron 
      h1 Will Chantry 
    .row
      .col-md-8 
        h2 A junior full stack developer with a focus on server side javascript looking to apply an engineering education to build real world, real time applications.
      .col-md-4
        h2.section-header Education
        table.table.table-striped
          tbody   
            tr 
              td May 2015 - June 2015
              td Web Development Certificate <br /> 
                em Lighthouse Labs
            tr 
              td  2008 - 2012
              td B.S. in Civil and Environmental Engineering <br />
                em University of Virginia
    .row
      .col-md-4
        h3 Languages & Frameworks
        ul.list-inline
          li Ruby
          li Javascript
          li HTML
        ul.list-inline
          li CSS
          li C (intro)
          li Python (intro)
        ul.list-inline
          li Node.js
          li koa.js
          li Ruby on Rails
        ul.list-inline
          li Sinatra
          li JQuery
          li Bootstrap
        ul.list-inline
          li American English (native)
          li Spanish (comfortable)
      .col-md-8
        h2 Projects
        table.table.table-striped
          tbody
            dl.dl-horizontal 
              dt Mana-Match Quest
              dd A real time turn based competitive puzzle game written using Melonjs, Nodejs and the koajs framework. <br />
                a(href='htttp://www.manamatch.com') Mana Match | 
                a(href='https://github.com/EatmoreVanCleef/laughing-octo-adventure') Github
            tr
              td OfficeFoos
              td Written using the Sinatra Framework, an unimposing system to manage employee memory release and increase overall efficiency in the workplace<br /><br />
                Implements Ajax polling, Twilio API text messaging, automatic emailing, JQuery, and Bootstrap <br /> 
                a(href='https://www.officefoos.herokuapps.com') OfficeFoos | 
                a(href='https://github.com/goofiw/acidic-toadstools') Github
            tr
              td Rotten Mangoes
              td A movie review website written in rails, with user authentication, admin dashboard, and twitter bootstrap<br />
                a(href='https://mighty-everglades-5759.herokuapp.com') Rotten Mangoes | 
                a(href='https://github.com/goofiw/rooftree') Github
    .row
      .col-md-3
      .col-md-9
        h2 Work History
        table.table-striped
            tbody
              tr
                td Oct 2013 - Feb 2015
                td 
                  h3 Project Engineer
                  h4 Engineering Consulting Services<br/>Charlottesville, Virginia
                  ul
                    li Consulting for owners and contractors to interpret engineering standards and provide engineered solutions for unforeseen circumstances for clients. 
                    li Daily tasks included writing proposals, marketing, and managing as many as 20 projects at any given time.
                    li Review and complete technician field reports to verify specifications were met and procedures were followed
              tr
                td Aug 2011 - Oct 2013
                td
                  h3 General Manager
                  h4 Michaels Bistro and Tap House<br/>Charlottesville, Virginia
                  ul
                    li Managing day to day operations of a profitable restaurant and craft beer bar
                    li Handling ordering, hiring, payroll, and scheduling for over 20 employees
              tr
                td Jul 2003 - Oct 2008
                td
                  h3 Pool Manager & Red Cross Certified Swim Lesson Instructor
                  h4 Reston Association <br/> Reston, Virginia
                  ul
                    li Conducting red cross refresher raining, scheduling, and operations of a world class swimming pool.
                    li Held Red Cross Professional CPR/AED, first aid, water safety instructor, and Fairfax County Pool Operators License.


