extends ./layout.jade

block content
  .container
    .jumbotron 
      h1 Will Chantry 
      a(href="mailto:goofiw@gmail.com") goofiw@gmail.com | 
      a(href="https://github.com/goofiw") github | 
      a(href="https://www.linkedin.com/profile/view?id=207444317&trk=hp-identity-name") LinkedIn
    .row
      .col-md-8 
        h2 A junior full stack developer with a focus on server side javascript looking to apply an engineering education to build real world, real time applications.
      .col-md-4
        h2.section-header Education
        table.table
          tbody   
            tr 
              td 2015 
              td Web Development Certificate <br /> 
                em Lighthouse Labs
            tr 
              td  2008 - 2012
              td B.S. in Civil and Environmental Engineering <br />
                em University of Virginia
    .row
      .col-md-12
        h2 Projects
        table.table
          tbody
            dl.dl-horizontal 
              dt Mana-Match Quest
              dd A real time turn based competitive puzzle game written using Melonjs, Nodejs and the koajs framework. <br />
                a(href='htttp://www.manamatch.com') Mana Match | 
                a(href='https://github.com/EatmoreVanCleef/laughing-octo-adventure') Github
             ul.project-list
               li
                 img.project-image(src='images/manamatch-front.png' alt='mana-match front')
               li
                 img.project-image(src='images/manamatch-play.png' alt='mana-match play')
               li
                 img.project-image(src='images/manamatch-team.png' alt='mana-match team')
            dl.dl-horizontal 
              dt OfficeFoos
              dd Written using the Sinatra Framework, an unimposing system to manage employee memory release and increase overall efficiency in the workplace<br /><br />
                Implements Ajax polling, Twilio API text messaging, automatic emailing, JQuery, and Bootstrap <br /> 
                a(href='https://www.officefoos.herokuapp.com') OfficeFoos | 
                a(href='https://github.com/goofiw/acidic-toadstools') Github
              ul.project-list
                li
                  img.project-image(src='images/officefoos-front.png' alt='office foos front')
                li
                  img.project-image(src='images/officefoos-offices.png' alt='office foos offices')
            dl.dl-horizontal 
              dt Rotten Mangoes
              dd A movie review website written in rails, with user authentication, admin dashboard, and twitter bootstrap<br />
                a(href='https://mighty-everglades-5759.herokuapp.com') Rotten Mangoes | 
                a(href='https://github.com/goofiw/rooftree') Github
              ul.project-list
                li
                  img.project-image(src='images/rotten-mangoes-index.png' alt='rotten mangoes index')
                li
                  img.project-image(src='images/rotten-mangoes-review.png' alt='rotten mangoes review')
    .row
      h2 On Github
      .col-md-5
        div#github-content
      .col-md-7
        dl
          dt
            a(href='https://github.com/goofiw/web-scraper') Web Crawler
          dd A web crawler written in NodeJs to recursively search for and list all images on a website.  http://substack.net/images/ used to test.
          dt
            a(href='https://github.com/goofiw/web_scraper_practice') Web Scraper
          dd A web scraper written in Ruby that logs comments from blogging sites when given different website-specific keys. 
          dt
            a(href='https://github.com/goofiw/rainy-days') Rainy Days
          dd Using the Weather Underground API, this simple app takes searches for a nearby weather station, and given a date will tell the user if it rained and how much.
    .row
      .col-md-3
        div.languages-frameworks
          h3 Languages & Frameworks
          ul.languages
            li Ruby
            li Javascript
            li HTML
            li CSS
            li C (intro)
            li Python (intro)
            li Node.js
            li koa.js
            li Ruby on Rails
            li Sinatra
            li JQuery
            li Bootstrap
            li American English (native)
            li Spanish (comfortable)
      .col-md-9
        h2 Work History
        div.jobs
          div.job 
            h3.job-title Project Engineer
            h5 Engineering Consulting Services<br/>Charlottesville, Virginia
            p.text-right Oct 2013 - Feb 2015
            ul
              li Consulting for owners and contractors to interpret engineering standards and provide engineered solutions for unforeseen circumstances for clients. 
              li Daily tasks included writing proposals, marketing, and managing as many as 20 projects at any given time.
              li Review and complete technician field reports to verify specifications were met and procedures were followed
          div.job
            h3.job-title General Manager
            h4 Michaels Bistro and Tap House<br/>Charlottesville, Virginia
            p.text-right Aug 2011 - Oct 2013 
            ul
              li Managing day to day operations of a profitable restaurant and craft beer bar
              li Handling ordering, hiring, payroll, and scheduling for over 20 employees
          div.job
            h3.job-title Pool Manager & Red Cross Certified Swim Lesson Instructor
            h4 Reston Association <br/> Reston, Virginia
            p.text-right Jul 2003 - Oct 2008
            ul
              li Conducting red cross refresher raining, scheduling, and operations of a world class swimming pool.
              li Held Red Cross Professional CPR/AED, first aid, water safety instructor, and Fairfax County Pool Operators License.


