doctype html
html(lang='en')
  head
    title = Will Chantry
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')    
    link(rel='stylesheet', href='styles/main.css')


  body
    block content
