body {
  background-color: #DDDDDD;
}

img {
  width: 4em;
}

.center-div {
  margin: auto;
  float: none;
}
.heading{
  height: auto;
  font-family: Arial;
  text-align: center;
  background-color: #232F3E;
  border-radius: .7em;
  margin: 2em;

   ol.directions {
    display: inline-block;
    text-align: left;
    font-size: 1em;
    color: #929394;

    -moz-column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-count: 2;
    -webkit-column-gap: 1em;
    column-count: 2;
    column-gap: 1em;
  } 
  .title{
    font-size: 3.5em;
    padding: .25em;
    color: #fff;
  }
}

.loading {
  margin: 0px auto;
  text-align: -webkit-center;
  text-align: center;
}

.delivery-logo {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 3em auto;
  text-align: center;
  box-shadow: 5px 5px 3px #888888;
}

.delivery-update {
  text-align: -webkit-center;
  text-align: center;
  margin: 1em auto;
  width: 45%;
  min-width: 300px;
  display: inline-block;
  float: right;
}

.deliver-pending {
  text-align: -webkit-center;
  text-align: center;
  margin: 1em auto;
  display: inline-block;
}

#delivery-map {
  height: 400px;
  min-width: 200px;
  width: 45%;
  margin: 1em auto;
  display: inline-block;
  float: left;
}